<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program Timeline</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/info.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Info Session I</h4>
                                    <!-- <h4 class="subheading">Info Session I</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Time: 20:00 - 21:00, Tuesday, January 29, 2019</p>
                                    <p class="text-muted"> Haas, Chou Hall N440+444 </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/info.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Info Session II</h4>
                                    <!-- <h4 class="subheading">An Agency is Born</h4> -->
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Time: 20:00 - 21:00, Thursday, January 31, 2019</p>
                                  <p class="text-muted"> Haas, Chou Hall N440+444 </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-image">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>General Application Due</h4>
                                    <!-- <h4 class="subheading">Pitch idea, team formation </h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sunday, February 3, 2019, 11:59pm </p>
                                    <p class="text-muted">Apply here! </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/GE1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>General Meeting 1</h4>
                                    <h4 class="subheading">Welcome, introduction, and club overview</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">20:00 - 21:30, Wednesday, February 13, 2019</p>
                                  <p class="text-muted"> Haas, Chou Hall N440+444 </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/GE2_idea.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>General Meeting 2</h4>
                                    <h4 class="subheading">Pitch idea, team formation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">20:00 - 21:30, Wednesday, February 27, 2019</p>
                                    <p class="text-muted"> Haas, Chou Hall N540+544 </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/GE3_market_research.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>General Meeting 3</h4>
                                    <h4 class="subheading">Market Research</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">20:00 - 21:30, Wednesday, March 13, 2019</p>
                                  <p class="text-muted"> Haas, Chou Hall N540+544 </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/GE4_business_model.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>General Meeting 4</h4>
                                    <h4 class="subheading">Business Model</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">20:00 - 21:30, Wednesday, March 20, 2019</p>
                                    <p class="text-muted"> Location TBD </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/GE5_legal.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>General Meeting 5</h4>
                                    <h4 class="subheading">Startup finance/legal</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">20:00 - 21:30, Wednesday, April 3, 2019</p>
                                  <p class="text-muted"> Location TBD </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/GE6_pre_presentation.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>General Meeting 6</h4>
                                    <h4 class="subheading">Pre-Presentation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">20:00 - 21:30, Wednesday, April 17, 2019</p>
                                    <p class="text-muted"> Location TBD </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/GE7_pitching.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>General Meeting 7</h4>
                                    <h4 class="subheading">Final Demo Day</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">(Tentative) Wednesday, May 8, 2019</p>
                                  <p class="text-muted">(Tentative) Berkeley Skydeck </p>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </section>
