<!-- Apply Section -->
<section id="apply">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Join Us!</h2>
                <br>
                <!-- style should be same as apply button at top -->
                <a target="_blank" href="https://forms.gle/DWpgcUan7kFYoSW69"><h4>E@B Member Application!</h4></a>
                <h5>Due 9/14 @ 11:59 pm PST</h5><br>
                <!-- <button class="page-scroll btn btn-xl">Member Application</button> -->
                
                <h4 class="service-heading"><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfX3NnIApFk63ioJ062om_XU5D7JsB2CKzysXAYzdn8eqX20A/viewform?fbclid=IwAR26NZnm8PnpVPkdm7Waa-b1iQZyZ6U15m3XvUd73uCHH4fFSAlH8LUe0Xs">Sign Up Zoom Recruitment Events!</a></h4>
                <h5>Learn more about our club and meet our team!</h5>
                <br>
                <h6>Recruitment Events</h6>
                <span>Meet the Team #1 (9/10 @ 6 pm - 7 pm PST)</span><br>
                <span>Meet the Team #2 (9/12 @ 10 am - 11 am PST)</span><br>
                <span>Meet the Team #3 (9/14 @ 7 pm - 8 pm PST)</span>
            </div>
        </div>
        <div class="row text-center">
            
            <!--
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Collaborate</h4>
                <p class="text-muted">The ability to work with others is an essential skill for any entrepreneur. We want our members to leave with practical knowledge, newfound motivation, and lasting friendships.  </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Innovate</h4>
                <p class="text-muted">Entrepreneurship is all about approaching problems in a unique way. We want our members to utilize their creativity and originality in their projects. </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Aspire</h4>
                <p class="text-muted">Behind every great leader is a genuine desire to be better and contribute positively to society. We hope that our members utilize our resources to fulfill their goals and demonstrate enthusiasm in their work. </p>
            </div>
            -->
        </div>
    </div>
</section>
