<!-- Career Progression Section -->

<style>
img {
  width: 40%;
  height: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.web-background {
  background-color: #f9f9f9
}
</style>

<section id="career_progression" class="bg-light-gray">
  <div class="container">
    <center>
      <br><br><br><br>
      <h2 style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;" class="section-heading">
        Club Journey at E@B
      </h2>
    </center>
    <img src="https://mentorship-platform-tester-bucket.s3-us-west-1.amazonaws.com/career_progression3.png" alt="career_progression3.png" class="center">
    <br><br><br><br>
  </div>
</section>
