<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" rel="noopener noreferrer" href="https://www.arrow.capital/">
                        <img src="img/partners/arrow_capital.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" rel="noopener noreferrer" href="https://bearx.co/">
                        <img src="img/partners/bearx.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" rel="noopener noreferrer" href="https://career.berkeley.edu/">
                        <img src="img/partners/berkeley_career_center.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/berkeley-leadership/">
                        <img src="img/partners/berkeley_leadership_network.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" rel="noopener noreferrer" href="https://skydeck.berkeley.edu/">
                        <img src="img/partners/berkeley_skydeck.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://hardwaremassive.com/">
                        <img src="img/partners/hardwaremassive.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" rel="noopener noreferrer" href="https://scet.berkeley.edu/">
                        <img src="img/partners/scet.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" rel="noopener noreferrer" href="http://www.ucberkeleysep.com/">
                        <img src="img/partners/sigma_eta_pi.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
