  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright © Entrepreneurs@Berkeley 2020</span>


                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.facebook.com/EntrepreneursAtBerkeley"><i class="fa fa-facebook"></i></a></li>
                        
                        <li><a href="https://www.instagram.com/entrepreneursberkeley/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/entrepreneurs-berkeley"><i class="fa fa-linkedin"></i></a></li>
                    </ul>

                </div>
                <div class="col-md-4">
                    <!-- <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul> -->
                    <a href="https://www.ocf.berkeley.edu">
                        <img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin.svg"
                            alt="Hosted by the OCF" style="border: 0;" />
                    </a>
                </div>
            </div>
        </div>
        <p>We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site.</p>

        <style>
            .circl {
                width: 20px;
                height: 20px;
                background: black; 
                /*-moz-border-radius: 70px; 
                -webkit-border-radius: 70px; */
                color: white;
                padding: 8px;
                margin: 4px;
            }
        </style>
    </footer>
