<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Mission</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#program_timeline">Program Timeline</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#calendar">Calendar</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container" >
            <div class="intro-text">
                <div class="intro-lead-in">Entrepreneurs@Berkeley</div>
                <!-- <div class="intro-heading">It's Nice To Meet You</div> -->
                <!-- <a href="https://medium.com/@entrepreneuratberkeley" class="page-scroll btn btn-xl">Blog</a> -->
                <!-- <a style="margin:20px" href="#" class="page-scroll btn btn-xl">Join Us</a> -->
                <!-- <a href="https://tinyurl.com/eb-2019-demo" class="page-scroll btn btn-xl">Subscribe</a> -->
                <!-- <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a> -->
                <br>
                <a href="https://forms.gle/9qpLHf8aP5wyU2Xg7" class="page-scroll btn btn-xl"> Subscribe </a>
                <!-- <a href="https://entrepreneurs-at-berkeley.herokuapp.com/" class="page-scroll btn btn-xl">Database (Beta) </a> -->
                <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSfT_0rZ7HrasXJFWMpbnox4VCg-RG-N5__8IM9XzBeMEWZt3A/viewform" class="page-scroll btn btn-xl"> Final Demo Day Application </a> -->
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %} -->
