<!-- About Section -->
<section id="recruitment_timeline">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Recruitment</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/info.png"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Info Session I</h4>
                <!-- <h4 class="subheading">Info Session I</h4> -->
              </div>
              <!-- <div class="timeline-body">
                <p class="text-muted">Wednesday, September 4⋅8:00 – 9:00pm </p>
                <p class="text-muted">Location: Moffit 103 </p>
              </div> -->
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/info.png"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Info Session II</h4>
                <!-- <h4 class="subheading">An Agency is Born</h4> -->
              </div>
              <!-- <div class="timeline-body">
                <p class="text-muted">Thursday, September 5⋅8:00 – 9:00pm</p>
                <p class="text-muted">Location: Soda 405</p>
              </div> -->
            </div>
          </li>

          <li class="timeline-image">
            <div class="timeline-image">
              <h4>Be Part <br />Of Our <br />Story!</h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Cohort Application Due</h4>
                <!-- <h4 class="subheading">Pitch idea, team formation </h4> -->
              </div>
              <!-- <div class="timeline-body">
                <p class="text-muted">Sunday, September 8, 2019, 11:59pm</p>
              </div> -->
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/GE1.jpg"
                alt=""
              />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <iframe align="center" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=entrepreneuratberkeley%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
</section>
