<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;" class="section-heading">Our Mission</h2>
                    <h3 class="section-subheading text-muted">To provide a community for exchanging ideas, finding potential partners, understanding the start-up process, and nurturing the next Unicorn.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                        <img src="https://mentorship-platform-tester-bucket.s3-us-west-1.amazonaws.com/images/light-bulb.png" alt="" style="width: 100%;">
                    </span>
                    <h4 class="service-heading">Innovate</h4>
                    <p class="text-muted">Each semester, our members transform an idea into a viable startup, building unique solutions to crucial problems and developing skills valuable for any student, regardless of one's career interests. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> -->
                        <img src="https://mentorship-platform-tester-bucket.s3-us-west-1.amazonaws.com/images/Connect.png" alt="" style="width: 100%;">
                    </span>
                    <h4 class="service-heading">Connect</h4>
                    <p class="text-muted">Through startup workshops, collaboration, socials, and our mentorship platform, we aim to build a community passionate about product development, creating valuable connections and long-lasting relationships.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                        <img src="https://mentorship-platform-tester-bucket.s3-us-west-1.amazonaws.com/images/aspire.png" alt="", style="width: 100%;">
                    </span>
                    <h4 class="service-heading">Aspire</h4>
                    <p class="text-muted">We strive to not only create projects that build off our members' interests, but also provide a substantial social impact and supply a framework for students to develop specialized skills. </p>
                </div>
            </div>
        </div>
    </section>
